<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/time.js"></script>
  </head>
  <body>


    <script src="/socket.io/socket.io.js"></script>
  
    <script>
        var socket = io.connect('http://localhost:8080');



        socket.on('firstname', function(firstname) {
      document.getElementById("displayFname").innerHTML = firstname;
      document.getElementById("displayFname").style.visibility = 'visible';   
     })

        socket.on('lastname', function(lastname) {
      document.getElementById("displayLname").innerHTML = lastname;
      document.getElementById("displayLname").style.visibility = 'visible';    
	})

        socket.on('section', function(section) {
      document.getElementById("displaySection").innerHTML = section;
      document.getElementById("displaySection").style.visibility = 'visible';
        })

        socket.on('admission_no', function(admission_no) {
      document.getElementById("admission_no").innerHTML = admission_no;
      document.getElementById("admission_no").style.visibility = 'visible';
        })

	  socket.on('studImage', function(studImage) {
        document.getElementById("studImage").src = studImage;
	})
  
        socket.on('status', function(status) {
      document.getElementById("status").innerHTML = status;
      document.getElementById("status").style.visibility = 'visible';
      document.getElementById("statusC").style.visibility = 'visible';
    })
    
    socket.on('color', function(color) {
      document.getElementById("statusC").style.backgroundColor = color;
    })
     
      socket.on('statusC', function(statusC) {
        document.getElementById("status").style.visibility = statusC;
        document.getElementById("statusC").style.visibility = statusC;
        document.getElementById("admission_no").innerHTML = "";
        document.getElementById("displayFname").innerHTML = "";
        document.getElementById("displayLname").innerHTML = "";
        document.getElementById("displaySection").innerHTML = "";
        document.getElementById("admission_no").style.visibility = statusC;   
        document.getElementById("displayFname").style.visibility = statusC;   
        document.getElementById("displayLname").style.visibility = statusC;   
        document.getElementById("displaySection").style.visibility = statusC;  
        document.getElementById("studImage").src = "uploads/student_images/default.jpg"; 

      })

      socket.on('myModal', function(show) {
        $('#myModal').modal(show);
      })

      socket.on('modalTitle', function(modalTitle) {
        document.getElementById("modalTitle").innerHTML = modalTitle;
      })

        socket.on('invalid', function(invalid) {
        document.getElementById("status").style.color = '#fe0000';
        document.getElementById("admission_no").style.visibility = invalid;   
        document.getElementById("displayFname").style.visibility = invalid;   
        document.getElementById("displayLname").style.visibility = invalid;   
        document.getElementById("displaySection").style.visibility = invalid;   
        })


        socket.on('valid', function(valid) {
        document.getElementById("status").style.color = '#009900';
        document.getElementById("admission_no").style.visibility = valid;   
        document.getElementById("displayFname").style.visibility = valid;   
        document.getElementById("displayLname").style.visibility = valid;   
        document.getElementById("displaySection").style.visibility = valid;   

        })



        socket.on('pass', function(pass) {
          document.getElementById("pass").innerHTML = pass;
        })

      socket.on('device_status', function(device_status) {
        document.getElementById("device_status").innerHTML = device_status;
      })

    </script>




<div class="container-fluid" style="padding:0px!important;">
  <div class="row content">
      <div class="col-sm-5" >
        <div class="row" style="background-position:right;background-size:cover;height:49%;margin-top: 10px;">
          <div class="col-sm-4" style="padding-right:0px;">	
		        <img src="/images/s_logo.png" style="width:90%;margin-left:13%;" >	
      	  </div>
          <div class="col-sm-8" style="margin-top:4%;padding-left:12px;">		
            <img src="/images/slogo2.png" style="width:90%" >	
          </div>
          
          <img id="studImage" src="uploads/student_images/default.jpg" style="height:auto;width:465px;margin-left:53px; margin-top: -80px; border-style: solid; border-width: thin; border-color: #e4e1e1;" >
	  
	      </div>
    </div>

      <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-6">
              <p class="clock" id="clockbox" style="float:left"></p>
            </div>
            <div class="col-sm-6" style="float:right;text-align:right;">
              <p class="date" id="clockbox2" style="line-height:50%;margin:0!important;padding-top:15%;"></p>
              <p class="date" id="clockbox3"></p>
            </div>

          <div class="col-sm-12" id="statusC" style="margin-top:2%;height:15%;visibility:hidden;background-color:#ffffff;text-align:center;">
            <h1 id="status" style="margin:0px;padding:2%;visibility:hidden;font-size:420%;font-family:oswald;font-weight:bold;color:#009900;">CHECKED</h1>
          </div>

	
	  <div class="col-sm-12">
	  	<p id="admission_no" class="lrn" style="visibility:hidden;"></p>
		<p id="displayFname" class="fname" style="visibility:hidden;"></p>
		<p id="displayLname" class="lname" style="visibility:hidden;">&ensp;</p>
		<p id="displaySection" class="section" style="visibility:hidden;"></p>
	  </div>
	  <div class="col-sm-12">
        <p id="device_status" style="float:left;padding-left: 5%;padding-top:11%;font-size: 45px;color: #c3ddf7;font-weight: bold;"></p>
		<img src="/images/poweredby.jpg" style="width:30%;float:right;padding-right:5%;padding-top:11%;" >
    </div>


      <div id="myModal" class="modal" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitle"></h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12" style="text-align: center;">	
                      <img src="/images/slogo2.png"  style="text-align: center;">	
                    </div>
                    <div class="col-md-12" style="text-align: center;">		
                      <img src="/images/s_logo.png" style="width: 50%;">	
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-6">asdf</div> -->
              </div>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
          </div>
        </div>
      </div>


       </div>
      </div>
</div>

</body>
</html>